.conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;

  margin: 100px auto;

  gap: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  border-radius: 8px;
  padding: 30px;
  gap: 8px;
}

.conteiner h1 {
  font-size: 30px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.content input[type="text"]:first-of-type {
  font-size: 18px;
  padding: 1rem;
  width: 100%;
  border-radius: 8px;
  outline: none;
  border: 1px solid #d5d5d5;
}


.customizeLinke {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

.customizeLinke span {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.customizeLinke input [type="checkbox"] {
  width: 30px;
  height: 30px;
}

.customizeLinke input[type="text"] {
  padding: 4px;
  border: 1px solid #d5d5d5;
  outline: none;
  border-radius: 8px;

}

.buttonGroup {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 1rem;
}

.buttonGroup button {
  padding: 16px;
  width: 100%;
  background-color: #666666;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #ffffff;
}

.buttonGroup button:hover{
opacity: 0.6;
}